.button-all {
  border: 1px solid #e9ecf5;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-family: "GT Eesti Pro Display", sans-serif;
  font-size: 1rem;
  transition: all 0.5s;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: url(../assets/fonts/gteestiprodisplay_regular.otf);
}

.main-page-title {
  font-family: "GT Eesti Pro Display";
  font-weight: 400;
  color: #141b41;
}

.main-page-subtitle {
  font-family: "GT Eesti Pro Display";
  line-height: 140%;
  color: #72727e;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}